*{
  box-sizing:border-box;
}
:root{
  --main-background:burlywood;
  --linear-background:linear-gradient(to left, rgba(220,220,220,0.2) 20%, rgba(255,255,255,0.5));
  --font-main:darksladegrey;
}
html{
  font-size:16px;
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
}
/*STYLES*/
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.arima-<uniquifier> {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.material-symbols-outlined {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 8px;
  color: darkslategrey;
  transition: transform 0.2s ease;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*STYLES*/

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color:var(--main-background);
  overflow-x: hidden;
}
.main-layout{
  margin-left: 20vw;
  margin-top:12rem;
}
.header{
  position: fixed;
  z-index: 1000;
  top:0;
  width:80vw;
  height:10rem;
  margin-left: 20vw;
  background-color:var(--main-background);
  background-image: linear-gradient(
    to left, rgba(0, 128, 128, 0.8),
    rgba(0, 128, 128, 0));
  box-shadow: 4px 4px 12px rgba(0, 128, 128, 0.2);
  border-radius:5px;
}
header h1 {
  font-family: "Cinzel", serif;
  color:darkslategrey;
  font-size:2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  text-shadow:2px 3px 3px gainsboro;
}
/*NAVIGATION*/
.navbar{
  position: absolute;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.navbar .menu-hamburger{
  display: none;
  width:2rem;
  position:absolute;
  top:3.7rem;
  left:2rem;
  color:var(--font-main);
}
.navbar a{
  display:inline-block;
  text-decoration:none;
  font-size:1.5rem;
  font-weight:400;
  color:darkslategrey;
}
.navbar li{
    list-style-type: none;
}
#welcome h2{
  width:20rem;
  height:3rem;
  margin-top:3rem;
  margin-left:3rem;
  padding-top: 1px;
  font-size:2em;
  box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.2);
  border-radius:5px;
  background-image:var(--linear-background);
  padding:2px 0 2px 10px;
  color:rgb(91, 91, 95);
  font-family: "Cinzel", serif;
  text-shadow:2px 3px 3px gainsboro;
}
.cards{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.card{
  width:20rem;
  height:20rem;
  box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.2);
  background-image:var(--linear-background);
  border-radius:25px;
}
#to-do-list{
  display:flex;
  flex-direction:column;
  padding:15px;
}
.list{
  border:none;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  gap: 1rem;
  width:100%;

 }
.list legend{
  text-decoration:underline;
  color:var(--font-main);
  font-family:cinzel;
  font-size: 1.5em;
  font-weight:600;
  margin:15px;
}
.list label {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.2;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  transform: translateY(2px);
  margin: 0;
}
input[type="text"] {
  display: flex;
  text-wrap: wrap;
  border: none;
  border-bottom: 2px dashed teal;
  background-color: transparent;
  font-family: "Indie Flower", cursive;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
  width: 80%;
  margin-left:20px;
  outline: none;
  line-height: 1.5;
  vertical-align: bottom;
}
input[class="item"]:focus{
  outline:none;
  background-image:var(--linear-background);
  border-radius:5px;
  width: 80%;
  margin-left:20px;
  outline: none;
  line-height: 1.5;
  vertical-align: bottom;
}
#widget_29880406cabd5189048741950d2895e0{
  width:85%;
}
.card-three{
  display:none;
}
.divider{
  width:50%;
  height:3rem;
  border-bottom:2px solid grey;
  margin:3rem auto;
}

/*VISITCARD*/
#visitcard{
  box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.2);
  background-image:var(--linear-background);
  border-radius:25px;
  width: 70%;
  max-width:30rem;
  max-height30rem;
  margin:5rem auto;
  padding:2em 5em;
  transition: all 1s ease-in-out;
  font-family:cinzel;
  font-size: 1em;
  font-weight:600;
  display:flex;
  flex-direction:column;
  align-items:center;
}
#visitcard:hover{
  transform:scale(1.2);
  filter:none;
}  
.name{
  color:rgb(91, 91, 95);
  font-family: "Cinzel", serif;
  text-shadow:2px 3px 3px gainsboro;
}
.identity-picture{
  max-width:10rem;
  width:100%;
  border-radius: 55px;
}
.presentation{
  font-family: "Arima", system-ui;
  font-weight: normal;
}
.social-media {
  font-size:1.5rem;
  color:purple;
  text-decoration:none; 
}
.contact, a[class="social-media"] {
  font-style:normal;
  line-height:20px;
  font-size:1rem;
  color:purple;
  text-decoration:none;
}
a[class="social-media"] span{
  visibility: hidden;
  color:purple;
}
a[class="social-media"]:hover span{
  visibility: visible;
}
.mail{
  font-family: "Arima", system-ui;
  font-weight: normal;
  font-size:1em;
}
#contact{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.section{
  margin: 100px auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  text-align:center;
  display:none;
}

/*END-VISITCARD*/

@media screen and (max-width:640px){
  html{
    box-sizing: border-box;
  }
  .header{     
    position: relative;    
    margin: 0;  
    width:100vw;   
    height:6rem;     
  } 
  .header h1{
    margin:0;
    font-size: 1.5rem;
    padding:1rem 0 1rem 2.5rem;
  }
  .navbar .menu-hamburger{
    position: absolute;
    top:2rem;
    z-index:1002;
    display:block;
  }
  .navigation{
    position: absolute;
    z-index: 1002;
    top:6rem;
    left:0;
    width:100vw;
    height:100vh;
    background-color: var(--main-background);
    background-image: linear-gradient(
      to left, 
      rgba(0, 128, 128, 0.8),
      rgba(0, 128, 128, 0)
    );
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:-100%;
    transition: all 0.5s ease;
  }
  .mobile-menu{
    margin-left: 0;
  }
  .navbar .navigation ul li{
    font-size:5rem;
    padding-left:5rem;
  }
  .main-layout{
    width:100vw;
    margin:0;
  }
  .cards{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap:2rem;
  }
  #visitcard{
    width:100%;
    max-width: none;
    border-radius: unset;
  }
}

@media screen and (min-width:641px){
  .navigation{
    position:fixed;
    top:0;
    left:0;
    display:grid;
    grid-template-columns: 1fr; 
    align-items: center;
    height: 100vh;             
    width: 20%;
    padding-top:15%;
    padding-bottom:15%;
    list-style-position: outside;
    list-style-type:none;
    font-family:"cinzel", serif;
    font-size: 1.5em;
    color: var(--font-main);
    line-height:3rem;
    background-image: linear-gradient(to right, rgba(0, 128, 128, 0.4), rgba(0, 128, 128, 0) 95%);
  }
  .navigation li{
    list-style-type: none;
  }
  a {
    display:inline-block;
    text-decoration:none;
    font-size:1.5rem;
    font-weight:400;
    color:var(--font-main);
    transition: transform 0.2s ease, font-weight 0.2s ease;
  }
  a:hover {
    transform: translateX(-10px) scale(1.3);
    font-weight:bold;
  }
}